.App {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main {
  width: 320px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  &__title {
    padding-top: 50px;
    margin-bottom: 20px;
  }
}

.deposit,
.money {
  width: 280px;
}

.money {
  &__button {
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
  }
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banknote {
  display: flex;
  margin-bottom: 20px;

  &__input {
    height: 38px;
  }

  span {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.denomination {
  width: 70px;
  padding: 10px;
  background-color: #c0e7e1;
}